<div class="contents clearfix">
 <div class="left-content">
     </div>

 <div class="right-content">
              <header class="headr">
              <ul>
                <h3 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>検索結果
                </h3>
              </ul>
              </header><br>
              
              <div class="lecture_result">
                <% @lectures.each do |lecture| %>
                  <ul>
                  <%= lecture.date %>
                  <h4><a href="/lectures/<%= lecture.id %>" title="<%= lecture.title %>">
                   <%= lecture.title %></a></h4>
                  </ul>
                <% end %>
                </div><br>
                <ul><%= paginate(@lectures) %></ul>
              
            </div>
          </div>