<div class="contents clearfix">
<div class="left-content">
<div class="row form">
 <%= form_for current_user do |f| %>
      <h3>登録情報変更</h3>
      <div class="form-group">

        <div class="col-lg-6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

    
          <div class="field">
           <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
           <%= f.password_field :password, autocomplete: "off" %>
          </div>

           <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
           </div>

           <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
           </div>
           </div>
      
           <div class="form-group">
           <%= f.submit "送信", class: "btn btn-primary withripple" %>
           </div>
    <% end %>
  </div>
  </div>
</div>
