<div class="user_page">
    <div class="contents clearfix">
     <div class="left-content">
     
       <table class="user_name">
       <tr>
        <td class="user_image" style="float: :right"><%= image_tag current_user.avatar %></td>
         <td><h4><%= current_user.nickname %><span>さんのマイページ</span></h4></td>
       </tr>
        </table>
      
        <div class="user_page-contents">
                <%  current_user.lectures.each do |lecture| %>
        <hr><div class="title"><a href="/lectures/<%= lecture.id %>"><%= lecture.title %></div>
        <div class="more">
            <% if user_signed_in? && current_user.id == lecture.user_id %>
          <ul class="more_list">
            <li><%= link_to '編集', "/lectures/#{lecture.id}/edit", method: :get %></li><br>
            <li><%= link_to '削除', "/lectures/#{lecture.id}", method: :delete %></li>
          </ul>
           <% end %>
        </div>
            <% end %>
          </div>
        </div>
  </div>